<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/devolucion.css">
    <title>Devoluciones</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <img src="/images/tci.png" >
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Item 1 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Item 2</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="container">
        
    <br/>
    <br/>
    <br/>
    <a href="/taller/entrega" class="btn btn-primary" type="button">Subir entrega</a>
    <br/>
    <br/>
    <table class="table table-secondary">
    <thead class="thead-secondary">
    <tr>
        
        <th>Id</th>
        <th>Herramienta</th>
        <th>fecha_devolucion</th>
        <th>observaciones</th>
        <th>estado_entrega</th>
        <th>Acciones</th>
    </tr>
</thead>
<tbody>
    <% if (typeof dev !== 'undefined') { %>

        <% for( let devolucion = 0; devolucion < dev.length; devolucion++ ) { %>
        <tr>
            <td><%= dev[devolucion].id_devo  %></td>
            <td><%= dev[devolucion].Herramienta  %></td>
            <td><%= dev[devolucion].fecha_devolucion%></td>
            <td><%= dev[devolucion].observaciones%></td>
            <td><%= dev[devolucion].estado_entrega%></td>
            <td><div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    
                <form class="form-inline" method="post" action="/taller/Editar/<%= dev[devolucion].id_devo  %>">

                    <button class="btn btn-warning" type="submit">Editar</button>
                    
                </form>
            </div>

            |
                
<<<<<<< HEAD
                Borrar</td>
        </tr>
=======
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    
                    <form class="form-inline" method="post" action="/taller/eliminar/<%= dev[devolucion].id_devo  %>">

                        <button class="btn btn-danger" type="submit">Borrar</button>
                        
                    </form>
                </div>
                </td>
         </tr>
>>>>>>> 100d4afcefc82c5d95e090c895cea2b290682cf4
        <% } %>
    <% } %>
    
    </tbody>
</table>
</div>
</body>
</html>