
<center>
    <!-- aca estaria la nueva ruta -->
    <form method="post" action="/taller/Actualizard">

        <input type="hidden" name="id" value="<%=taller.id_devo %>">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;">
            <div class="card" style="width: 50%; box-shadow: 0px 0px 15px hwb(0 100% 0%); border-radius: 10px;">
                <div class="card-header" style="background: linear-gradient(150deg, #d6b315,#7e7d4e); color: rgb(0, 0, 0); font-weight: bold; font-size: 20px; border-top-left-radius: 10px; border-top-right-radius: 10px; text-align: center;">
                    Subir Archivo
                </div>
                <div class="card-body" style="padding: 30px;">
                    <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 20px;">
                        <label for="devolucion" style="font-weight: bold;">Herramienta</label>
                        <input id="devolucion" value="<%=taller.Herramienta %>" class="form-control" type="text" name="nombree" placeholder="Ingrese el nombre de la herramienta" style="border-radius: 5px; padding: 10px;">
                    </div>

                <div class="card-body" style="padding: 30px;">

                    <div class="form-group">
                        <label for="devolucion" style="font-weight: bold;">fecha_devolucion</label>
                        <input id="devolucion" value="<%=taller.fecha_devolucion %>" class="form-control" type="text" name="fechaa" placeholder="Ingrese fecha " style="border-radius: 5px; padding: 10px;">
                    </div>

                    <div class="card-body" style="padding: 30px;">
                        <div class="form-group" style="margin-bottom: 20px;">
                            <label for="devolucion" style="font-weight: bold;">observaciones </label>
                            <input id="devolucion" value="<%=taller.observaciones %>" class="form-control" type="text" name="observaciones" placeholder="Ingrese la observacion" style="border-radius: 5px; padding: 10px;">
                        </div>

                        <div class="card-body" style="padding: 30px;">
                            <div class="form-group" style="margin-bottom: 20px;">
                                <label for="devolucion" style="font-weight: bold;">estado_entrega</label>
                                <input id="devolucion" value="<%=taller.estado_entrega %>" class="form-control" type="text" name="Estado" placeholder="Ingrese el estado de entrega" style="border-radius: 5px; padding: 10px;">
                            </div>
                    

                    <button class="btn btn-primary btn-block" type="submit" style="border-radius: 5px; padding: 10px; font-weight: bold; width: 100%;">Guardar</button>
                </div>
            </div>
        </div>
    </form>
    </center>

    <style>
        body {
            background: linear-gradient(150deg, #000000,#3c64e6); /*fondo*/
        }
        .card {
        background: linear-gradient(150deg, #14173d,#5f5d5d);  /* Fondo de el cuadro*/
        box-shadow: 0px 0px 15px rgba(219, 8, 8, 0.3);
    }

.btn:hover {
    background-color: #c55353; 

}
   /* Cambiar color de texto en el formulario */
   .card-body label, 
    .card-body input::placeholder {
        color: #000000; /* Color de la letra y del placeholder */
    }

    .btn:hover {
        background: linear-gradient(150deg, #b3b3b3,#000000);
    }
    </style>  