<%- include ../layouts/cabecera.ejs %>

<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos del estudiante</h5>
        <p class="card-text">

<form method="post" action="../actualizar/">

    <input type="text" name="id" value="<%=estudiante.id%>">

    <div class="form-group">
        <label for="my-input">Nombre</label>
        <input id="my-input" value="<%=estudiante.nombre%>" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
        <label for="my-input">NIE</label>
        <input id="my-input" value="<%=estudiante.nie%>" class="form-control" type="text" name="nie">
    </div>

    <div class="form-group">
        <label for="my-input">Gmail</label>
        <input id="my-input" value="<%=estudiante.gmail%>" class="form-control" type="text" name="gmail">
    </div>


    <button class="btn btn-secondary" type="submit">Actualizar</button>
    <a class="btn btn-secondary" href="/estudiantes">Cancelar</a>

</form>

<%- include ../layouts/pie.ejs %>
</p>
</div>
</div>
y