<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/estudiantes.css">
    <title>Estudiante</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="/images/tci.png" >
    <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" > 3° Mantenimiento automotriz <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

<br/>
<br/>
<a href="/taller/agregar" class="btn btn-primary" type="button">Agregar nueva herramienta</a>
<br/>
<br/>

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>gmail</th>
                <th>nie</th>
                <th>Acciones</th>
                
            </tr>
        </thead>
        <tbody>
            <% if (typeof estud !== 'undefined') { %>
             
            
            <% for( let estudiantes = 0; estudiantes < estud.length; estudiantes++ ) { %>
                <tr>
            <td><%=estud[estudiantes].id_estudiante  %></td>
            <td><%=estud[estudiantes].Nombre %></td>
            <td><%=estud[estudiantes].Gmail %></td>
            <td><%=estud[estudiantes].NIE %></td>

            <td>   
                <div class="btn-group-vertical" role="group" aria-label="b-form">

                    <form class="form-inline" method="post" action="/taller/Editar/<%=estud[estudiantes].id_estudiante  %>" class="d-inline">
                        <button class="btn btn-warning" type="submit">Editar</button>
                    </form>
                </div>



                <div class="btn-group-vertical" role="group" aria-label="b-form">

                    <form class="form-inline" method="post" action="/taller/Eliminar/<%=estud[estudiantes].id_estudiante  %>" class="d-inline">
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                    </form>
                </div>
                    </td>
                </tr>
            <% } %>
            <% } %>
    </tbody>
</table>
</body>
</html>