<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/prestamo.css">
    <title>Prestamos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <img src="/images/tci.png">
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">sugerencias <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Recomendaciones</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="container">
    
        <a href="/taller/crearp" class="btn btn-primary" type="button">Crear un Prestamos</a>
        <br/>
        <br/>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Id_prestamo</th>
                    <th>Herramienta</th>
                    <th>Fecha_prestamo</th>
                    <th>Estudiante</th>
                    <th>Tipo_herramienta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                <% if (typeof prest !== 'undefined') { %>
                
                <% for(let prestamo = 0; prestamo < prest.length; prestamo++){%>
                    <tr>
                    <td><%= prest[prestamo].Id_prestamos%> </td>
                    <td> <%= prest[prestamo].Herramienta%> </td>
                    <td> <%= prest[prestamo].Fecha_prestamo%> </td>
                    <td> <%= prest[prestamo].Estudiante%> </td>
                    <td> <%= prest[prestamo].Tipo_herramienta%> </td>
                    <td>
                        
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    
                        <form class="form-inline" method="get" action="/taller/editarpres/<%= prest[prestamo].Id_prestamos%>">
        
                            <button class="btn btn-warning" type="submit">Editar</button>
                            
                        </form>
                    </div>
                    
                    | 
                        
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <form class="form-inline" method="post" action="/taller/eliminarpres/<%= prest[prestamo].Id_prestamos%>">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                            
                        </form>
                    </div>
                    </td>
                </tr>
            <% } %>
            <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
