<%- include ../layouts/cabecera.ejs %>


        <br/>
        <br/>
        <a href="/herramientas/crear"  class="btn btn-warning" type="button">Agregar herramienta</a>
        <br/>
        <br/>

        <table class="table table-secondary">
            <thead class=" thead-secondary">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
    
                <% for( let herramienta = 0; herramienta < herramientas.length; herramienta++ ) { %>
    
                    <tr>
                        <td> <%=herramientas[herramienta].id%> </td>

                        <td> <%=herramientas[herramienta].nombre%> </td>

                        <td> <%=herramientas[herramienta].estado%> </td>

                        <td> 

                            <div class="btn-group-vertical" role="group" aria-label="b-form">

                                <form class="form-inline" method="get" action="/herramientas/Editar/<%=herramientas[herramienta].id%>">
                                    <button class="btn btn-dark" type="submit">Editar</button>
                                </form>
                            </div>

                            |
                        
                        <div class="btn-group-vertical" role="group" aria-label="b-form">

                            <form class="form-inline" method="post" action="/herramientas/Eliminar/<%=herramientas[herramienta].id%>">
                                <button class="btn btn-dark" type="submit">Eliminar</button>
                            </form>
                        </div>

                        </td>
                    </tr>

                
                <% } %>
    
            </tbody>
        </table>
        <%- include ../layouts/pie.ejs %>