<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/inventario.css">
    <title>Inventario</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="/images/tci.png" >
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" >Inventario de herramientas<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<br/>
<br/>
<a href="/taller/herra" class="btn btn-primary" type="button">Agregar nueva herramienta</a>   <a href="/taller/menu" class="btn btn-primary" style="text-align: right;" type="button">Salir</a>  
<br/>
<br>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            <% if (typeof herramienta !== 'undefined') { %>
                
            <% for(let herramientas = 0; herramientas < herramienta.length; herramientas++){%>
                <tr>
                <td> <%= herramienta[herramientas].id_herramienta%> </td>
                <td> <%= herramienta[herramientas].Nombre%> </td>
                <td> <%= herramienta[herramientas].Estado%> </td>

            <td>
                <div class="btn-group-vertical" role="group" aria-label="b-form">

                    <form class="form-inline" method="get" action="/taller/Editarh/<%= herramienta[herramientas].id_herramienta%>" class="d-inline">
                        <button class="btn btn-warning" type="submit">Editar</button>
                    </form>
                </div>

                |
            
                <div class="btn-group-vertical" role="group" aria-label="b-form">

                <form class="form-inline" method="post" action="/taller/eliminarh/<%= herramienta[herramientas].id_herramienta%>" class="d-inline">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
            </div>
                </td>
            </tr>
        <% } %>
        <% } %>
    </tbody>
</table>
</body>
</html>